@charset "UTF-8";

/**
 * TABLE DES MATIERES
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Styles de base
 * Boutons radios accessibles
 *** Form
 *** Label des boutons radio
 *** Interactivité
 *** Erreurs
 */

/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
   ========================================================================== */
@import url(utilitaires.css);

/* Typo
   ========================================================================== */
@import url(typo.css);


/* Styles de base
   ========================================================================== */

body{
    background-color:floralwhite;
}

ul.rangee {
    list-style: none;
}

.typeDeChambres{
    display: block;
}

.signature{
    text-decoration: none;
    font-size: 3rem;
    line-height: 1;
    margin-left: 3em
}

.signature__span{
    max-width: 100px;
}

.signature__logo{
    width: 10%;
}

fieldset{
    padding: 10px;
    border-color: #068221;
    background: white;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form-section {
    margin-bottom: 2rem;
    margin: 2em;
}

select {
    border-radius: 5px;
    margin: 0.25em;
}

h1{
    margin-left: 1em;
}


.disponibiliteDate{
    display: flex;
    flex-direction: column;
}

/* Mise en forme table */
@media (min-width:600px) {
    ul.rangee {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .typeDeChambres{
        display: block;
    }

    .nav__list{
        display: flex;
        flex-direction: row;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .nav {
        margin-top: 2em;
        background: #ddd;
        height: 5em;
    }
    
    .disponibiliteDate{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .disponibiliteVerifier{
        justify-content: center;
        display: flex;
    }

    footer {
        padding: 4rem;
    }

    button {
        padding: 1.1em;
    }
    
}

@media (max-width:600px){
    .nav__list {
        list-style: none;
        display: flex;
        flex-direction: column;
      }

      .signature__logo{
        width: 15%;
    }

    .signature{
        margin-left: 20px
    }
}

/* NAV PRINCIPALE */
.nav {
    margin-top: 2em;
    background: cadetblue;
  }
  .nav__list {
    list-style: none;
    align-items: center;
    height: 100%;
  }
  .nav__list-item {
    padding: 0.4em;
    position: relative; 
  }
  .nav__link:link,
  .nav__link:visited{
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding-bottom: 2em;
  }
  .nav__link:hover,
  .nav__link--active {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
  }

/* Boutons radios accessibles
   ========================================================================== */

/*** Form ***/
label {

    display: block;
}


/*** Bouton de soumission ***/
button {
    background-color: #d6dfcf;
    margin: 2em;
    font-size: 1.2em;
}

button:hover,
button:focus {
    background-color: #dfce99;
}

/*** Erreurs ***/
.erreur {
    color: orangered;
}

.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/icones/good-warning-error.png");
    background-size: cover;
    position: relative;
    top: 3px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 101px 0;
}

/***Section Nous Joindre***/

aside{
    padding: 5em;
    background-color:aliceblue;
}


/***Footer***/

footer{
    padding: 2rem 2rem;
    display: block;
    
}