@charset "UTF-8";

/**
 * TABLE DES MATIERES
 *
 * Normalize (au lieu du reset)
 * Utilitaires
 * Styles de base
 * Boutons radios accessibles
 *** Form
 *** Label des boutons radio
 *** Interactivité
 *** Erreurs
 */

/* Normalize (reset qui harmonise le rendu des éléments de formulaire)
   ========================================================================== */
@import url(normalize.css);

/* Utilitaires (contient box-sising = border-box et autres utiles)
   ========================================================================== */
@import url(utilitaires.css);

/* Typo
   ========================================================================== */
@import url(typo.css);


/* Styles de base
   ========================================================================== */

ul.rangee {
    list-style: none;
    padding-left: 0;
}

.typeDeChambres{
    display: block;
}

.choixChambres{
    justify-content: center;
    align-items: center;
}

fieldset{
    padding: 0;
    border: none;
}

/* Mise en forme */
/*@media (min-width:600px) {
    ul.rangee li {
         flex:0 1 calc(33.333333% - 10px); 
        flex: 0 1 32%;
    }

    ul.rangee li:nth-of-type(2) {
        margin: 0 10px;
    }

    .coordonnees {
        max-width: 50%;
        
    }
}
*/
/* Boutons radios accessibles
   ========================================================================== */

/*** Form ***/
label {
    /* placer les étiquettes au-dessus des champs de saisie */
    display: block;
}

input[type=text],
input[type=email],
input[type=tel] {
    /* pleine largeur pour la plupart des champs de saisie */
    display: inline-block;
    width: 100%;
}

/*** Label des boutons radio ***/
/* le sélecteur met à profit
le fait que le label est consécutif
au input (cas des boutons radio et des cases à cocher)
 */
 input[type=radio]+label {
    display: inline-block;
    text-align: center;
    border: 2px solid transparent;
}

/*** Interactivité ***/
[type=radio]:hover+label {
    cursor: pointer;
}

[type=radio]:hover+label,
[type=radio]:focus+label {
    border: 2px solid #09c231;
}

[type=radio]:checked+label {
    border: 2px solid #068221;
}

/*** Bouton de soumission ***/
button {
    padding: 0.5rem;
    background-color: #d6dfcf;
}

button:hover,
button:focus {
    background-color: #dfce99;
}

/*** Erreurs ***/
.erreur {
    color: orangered;
}

.icone {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("../images/icones/good-warning-error.png");
    background-size: cover;
    position: relative;
    top: 3px;
}

.icone--ok {
    background-position: 0 0;
}

.icone--avertissement {
    background-position: 49px 0;
}

.icone--erreur {
    background-position: 101px 0;
}